.style-header {
    background: rgba(0,0,0,0);
    position: relative;
    width: 200px;
    /* display: block; */
   margin: 0 auto;
    border-top-right-radius:0.5rem;
    border-bottom-left-radius: 0.5rem;
    height: 100px;
    /* overflow:hidden; */
    cursor: pointer; 
    font-size: 50px;
    text-align: center;
         
}


h1::after {
    content: "";
    display: block;
    position: absolute;
    color: brown;
    right: 0;
    width: 150px;
    /* height: 100%; */
    border-top: 5px solid ;
    transform: scale(0,1);
    transform-origin: bottom right;
    
    transition: transform 800ms;

}

h1:hover::after {
    transform: scale(1,1);
}