body {
    margin: 0;
    padding: 0;
    color: beige;
      
    
}

h2 {
    margin-top: 1.5rem;
}

.all-movies {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

.add-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    
      
}

.add-form input {
    margin: 0.3rem;
    outline: none;
    padding: 0.3rem;
    background-color: rgb(163, 225, 225);
    font-size: 1.3em; 
    border-radius: 0.2rem;
}

.add-form input[type = submit] {
font-size: 18px;
cursor: pointer;
width: 4rem;
background-color: rgb(86, 178, 25);
color: beige;
border-radius: 0.4rem;
border: none;
}



.one-movie {
    box-shadow: .5rem;
    border: 2px solid  rgb(86, 178, 25);
    margin-bottom: .5rem;
    width: 30rem;
    padding-left: .5rem;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.relase {
color: rgb(48, 202, 112);
}

.delete {
    padding: .4rem;
    border-radius: 0.2rem;
    outline: none;
    
    border: none;
    cursor: pointer;
    font-weight: bolder;
    background-color: rgb(82, 82, 185);
    color: beige;
    height: 2rem;
    text-align: center;
    margin-right: 0.5rem;
    
}